.words-to-type {
  width: 1800px;
  height: 60px;
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 30px;
  font-size: 24px;
  text-align: left;
}

.words-to-type > span {
  padding: 2px 4px;
}

.green {
  color: #90ee90;
}

.red {
  color: #ea5353;
}

.textInput {
  width: 1800px;
  margin-top: 16px;
  background: none;
  border: 1px white solid;
  height: 32px;
  color: white;
  padding: 0 8px;
  box-sizing: border-box;
}

/*# sourceMappingURL=Speedtest.css.map */
